In [38]:
# Importing Libraries

import pandas as pd
import numpy as np
import os
import matplotlib

In [39]:
#define base directory at once 

BASE_DIR = r'C:\Users\rishi\Project'

#use os.path.join to build safety paths
customers_path = os.path.join(BASE_DIR, 'customers.csv')
products_path = os.path.join(BASE_DIR, 'products.csv')
orders_path = os.path.join(BASE_DIR, 'orders.csv')
order_items_path = os.path.join(BASE_DIR, 'order_items.csv')
sessions_path = os.path.join(BASE_DIR, 'website_sessions.csv')
ab_path = os.path.join(BASE_DIR, 'ab_test_results.csv')


#create dataFrame
df_customers = pd.read_csv(customers_path)
df_products = pd.read_csv(products_path)
df_orders = pd.read_csv(orders_path)
df_items = pd.read_csv(order_items_path)
df_sessions = pd.read_csv(sessions_path)
df_ab = pd.read_csv(ab_path)

In [40]:
#DataFrame Verifications

print(f"customers: {df_customers.shape}")
print(f"products: {df_products.shape}")
print(f"orders: {df_orders.shape}")
print(f"items: {df_items.shape}")
print(f"sessions: {df_sessions.shape}")
print(f"ab: {df_ab.shape}")

customers: (15000, 7)
products: (300, 5)
orders: (38000, 6)
items: (76154, 5)
sessions: (75000, 7)
ab: (22000, 5)

In [41]:
#Exploring the Data

print(f"customers: {df_customers.info()}")
print(f"products: {df_products.info()}")
print(f"orders: {df_orders.info()}")
print(f"items: {df_items.info()}")
print(f"sessions: {df_sessions.info()}")
print(f"ab: {df_ab.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       15000 non-null  int64
 1   signup_date       15000 non-null  object
 2   age               15000 non-null  int64
 3   gender            14314 non-null  object
 4   city              15000 non-null  object
 5   device_type       15000 non-null  object
 6   customer_segment  15000 non-null  object
dtypes: int64(2), object(5)
memory usage: 820.4+ KB
customers: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     300 non-null    int64
 1   category       300 non-null    object
 2   cost_price     300 non-null    float64
 3   selling_price  300 non-null    float64
 4   margin_pct     300 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 11.8+ KB
products: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38000 entries, 0 to 37999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         38000 non-null  int64
 1   customer_id      38000 non-null  int64
 2   order_date       38000 non-null  object
 3   order_status     38000 non-null  object
 4   discount_amount  38000 non-null  float64
 5   shipping_fee     38000 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.7+ MB
orders: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76154 entries, 0 to 76153
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_item_id  76154 non-null  int64
 1   order_id       76154 non-null  int64
 2   product_id     76154 non-null  int64
 3   quantity       76154 non-null  int64
 4   item_price     76154 non-null  float64
dtypes: float64(1), int64(4)
memory usage: 2.9 MB
items: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75000 entries, 0 to 74999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   session_id            75000 non-null  int64
 1   customer_id           74994 non-null  float64
 2   session_date          75000 non-null  object
 3   traffic_source        75000 non-null  object
 4   pages_viewed          75000 non-null  int64
 5   session_duration_sec  75000 non-null  int64
 6   converted             75000 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 4.0+ MB
sessions: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experiment_name  22000 non-null  object
 1   variant          22000 non-null  object
 2   customer_id      22000 non-null  int64
 3   conversion       22000 non-null  int64
 4   order_value      22000 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 859.5+ KB
ab: None

In [42]:
#Exploring the data

print(f"customers: {df_customers.describe(include='number')}")
print(f"products: {df_products.describe(include='number')}")
print(f"orders: {df_orders.describe(include='number')}")
print(f"items: {df_items.describe(include='number')}")
print(f"sessions: {df_sessions.describe(include='number')}")
print(f"ab: {df_ab.describe(include='number')}")

customers:         customer_id           age
count  15000.000000  15000.000000
mean    7500.500000     43.521667
std     4330.271354     16.986103
min        1.000000      5.000000
25%     3750.750000     30.000000
50%     7500.500000     43.000000
75%    11250.250000     57.000000
max    15000.000000     90.000000
products:        product_id   cost_price  selling_price  margin_pct
count  300.000000   300.000000     300.000000  300.000000
mean   150.500000  1596.257600    3180.987667    0.209477
std     86.746758   806.394161    1633.181677    0.874245
min      1.000000   217.220000     412.780000   -4.720820
25%     75.750000   892.437500    1787.852500    0.068068
50%    150.500000  1637.390000    3215.395000    0.476999
75%    225.250000  2295.785000    4510.492500    0.712574
max    300.000000  2973.300000    5979.650000    0.949419
orders:            order_id   customer_id  discount_amount  shipping_fee
count  38000.000000  38000.000000     38000.000000  38000.000000
mean   19000.500000   6017.641474       272.756182    100.178843
std    10969.799451   3458.769725       245.057707     57.690246
min        1.000000      1.000000      -150.000000      0.000000
25%     9500.750000   3024.000000        61.707500     50.460000
50%    19000.500000   6032.000000       270.025000    100.420000
75%    28500.250000   9015.250000       485.142500    150.012500
max    38000.000000  12000.000000       700.000000    200.000000
items:        order_item_id      order_id    product_id      quantity    item_price
count   76154.000000  76154.000000  76154.000000  76154.000000  76154.000000
mean    38077.500000  19015.464651    150.214657      1.996087   3175.195831
std     21983.910537  10973.502700     86.567549      0.817173   1633.436828
min         1.000000      1.000000      1.000000      1.000000    412.780000
25%     19039.250000   9497.250000     75.000000      1.000000   1777.660000
50%     38077.500000  19065.500000    150.000000      2.000000   3213.450000
75%     57115.750000  28513.750000    225.000000      3.000000   4508.040000
max     76154.000000  38000.000000    300.000000      3.000000   5979.650000
sessions:          session_id   customer_id  pages_viewed  session_duration_sec  \
count  75000.000000  74994.000000   75000.00000          75000.000000
mean   37500.500000   5991.743099       5.01272            274.524533
std    21650.779432   3461.845191       2.23818            615.547334
min        1.000000      1.000000       0.00000              0.000000
25%    18750.750000   3001.000000       3.00000             75.000000
50%    37500.500000   5993.000000       5.00000            180.000000
75%    56250.250000   8984.000000       6.00000            358.000000
max    75000.000000  12000.000000      16.00000          20000.000000

          converted
count  75000.000000
mean       0.080240
std        0.271666
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
ab:         customer_id    conversion   order_value
count  22000.000000  22000.000000  22000.000000
mean    6040.648591      0.098909   3744.287516
std     3441.983852      0.298547   1875.463037
min        2.000000      0.000000    500.030000
25%     3113.000000      0.000000   2117.685000
50%     6052.500000      0.000000   3730.900000
75%     9007.000000      0.000000   5368.367500
max    12000.000000      1.000000   6999.830000

In [43]:
#checking Null Values

print(f"customers: {df_customers.isnull().sum()}")
print(f"products: {df_products.isnull().sum()}")
print(f"orders: {df_orders.isnull().sum()}")
print(f"items: {df_items.isnull().sum()}")
print(f"sessions: {df_sessions.isnull().sum()}")
print(f"ab: {df_ab.isnull().sum()}")

customers: customer_id           0
signup_date           0
age                   0
gender              686
city                  0
device_type           0
customer_segment      0
dtype: int64
products: product_id       0
category         0
cost_price       0
selling_price    0
margin_pct       0
dtype: int64
orders: order_id           0
customer_id        0
order_date         0
order_status       0
discount_amount    0
shipping_fee       0
dtype: int64
items: order_item_id    0
order_id         0
product_id       0
quantity         0
item_price       0
dtype: int64
sessions: session_id              0
customer_id             6
session_date            0
traffic_source          0
pages_viewed            0
session_duration_sec    0
converted               0
dtype: int64
ab: experiment_name    0
variant            0
customer_id        0
conversion         0
order_value        0
dtype: int64

In [44]:
#Checking Duplicate values columns where duplication matters

df_customers['customer_id'].value_counts()[df_customers['customer_id'].value_counts() > 1]
df_orders['order_id'].value_counts()[df_orders['order_id'].value_counts() > 1]
df_products['product_id'].value_counts()[df_products['product_id'].value_counts() > 1]

Series([], Name: count, dtype: int64)

In [45]:
#Standardize the Dataset which are needed

df_customers['signup_date'] = pd.to_datetime(df_customers['signup_date'])
df_orders['order_date'] = pd.to_datetime(df_orders['order_date'])
df_sessions['session_date'] = pd.to_datetime(df_sessions['session_date'])

print(f"signup_date: {df_customers['signup_date'].dtypes}")
print(f"order_date: {df_orders['order_date'].dtypes}")
print(f"session_date: {df_sessions['session_date'].dtypes}")

signup_date: datetime64[ns]
order_date: datetime64[ns]
session_date: datetime64[ns]

In [46]:
#Fixing Age issues

df_customers['age_flag'] = df_customers['age'].apply(lambda x: 'invalid' if x < 18 or x > 80 else 'valid')
invalid_count = (df_customers['age_flag'] == 'invalid').sum()
print(f"The Number of invalid age records: {invalid_count}")

The Number of invalid age records: 579

In [47]:
#removing invalid age customers

df_customers_cleaned = df_customers[df_customers['age_flag']=='valid']
invalid_remaining = ((df_customers_cleaned['age'] > 80) | (df_customers_cleaned['age'] < 18)).sum()
print(f"Invalid ages remaining: {invalid_remaining}")

Invalid ages remaining: 0

In [48]:
#count total null values in customers Gender

print(f"Missing values in Gender: {df_customers_cleaned['gender'].isnull().sum()}")

Missing values in Gender: 658

In [49]:
#Filling Missing Values in customers gender column

df_customers_cleaned.loc[:, 'gender'] = df_customers_cleaned['gender'].fillna('Unknown')
df_customers_cleaned.loc[:, 'gender'] = df_customers_cleaned['gender'].str.strip().str.title()
print(f"Missing values in Gender: {df_customers_cleaned['gender'].isnull().sum()}")

Missing values in Gender: 0

In [50]:
#session data missing values

missing_values = df_sessions.isnull().sum()
print(missing_values)

session_id              0
customer_id             6
session_date            0
traffic_source          0
pages_viewed            0
session_duration_sec    0
converted               0
dtype: int64

In [51]:
#Fixing Null values in sessions Customer_id

df_sessions_cleaned = df_sessions.dropna(subset=['customer_id']).copy()
df_sessions_cleaned = df_sessions_cleaned.reset_index(drop=True)
print(df_sessions_cleaned.isnull().sum())

session_id              0
customer_id             0
session_date            0
traffic_source          0
pages_viewed            0
session_duration_sec    0
converted               0
dtype: int64

In [52]:
#checking how many negative values in products discount amount 

negative_discount = (df_orders['discount_amount'] < 0).sum()
print(f"Total Discount rows : {df_orders['discount_amount'].count()}")
print(f"Total Negative discount amount rows : {negative_discount}")

Total Discount rows : 38000
Total Negative discount amount rows : 6713

In [53]:
#Fixing negative discount amount to positive

df_orders.loc[:, 'discount_amount'] = df_orders['discount_amount'].abs()
print(f"Remaining negative discount : {(df_orders['discount_amount'] < 0).sum()}")

Remaining negative discount : 0

In [54]:
# Check for unrealistic margins (e.g., over 100% or negative)

print(df_products['margin_pct'].describe())

count    300.000000
mean       0.209477
std        0.874245
min       -4.720820
25%        0.068068
50%        0.476999
75%        0.712574
max        0.949419
Name: margin_pct, dtype: float64

In [55]:
# Look at the products causing the massive negative margins

anomalies = df_products[df_products['margin_pct'] < -1].copy()
print(anomalies[['product_id', 'cost_price', 'selling_price', 'margin_pct']])
print(f"Total margin_pct row count: {df_products['margin_pct'].count()}")
print(f"Unrealistic margin errors :{(anomalies['margin_pct'] < -1).sum()}")

     product_id  cost_price  selling_price  margin_pct
2             3     2955.77         992.02   -1.979547
8             9     2313.27         742.68   -2.114760
16           17     2757.21        1124.76   -1.451376
32           33     1745.69         696.22   -1.507383
33           34     1812.71         503.81   -2.598003
50           51     1123.03         529.86   -1.119484
62           63     2581.68         617.45   -3.181197
75           76     1339.66         462.34   -1.897565
81           82     2830.11         583.27   -3.852144
97           98     2865.25         569.48   -4.031344
98           99     2348.47         778.58   -2.016350
110         111     2594.89        1220.91   -1.125374
124         125     2627.04         886.72   -1.962649
136         137     2772.47         891.10   -2.111289
146         147     2054.10         653.78   -2.141883
157         158     2247.81         889.25   -1.527759
159         160     1703.47         842.50   -1.021923
164         165     2361.44         412.78   -4.720820
167         168     2200.85        1009.21   -1.180765
201         202     2416.91         472.32   -4.117103
216         217     2171.82        1068.24   -1.033082
234         235     2767.78        1112.72   -1.487400
250         251     2223.64         640.21   -2.473298
279         280     1461.27         725.22   -1.014933
284         285     2096.36         738.01   -1.840558
297         298     2261.17         918.15   -1.462746
Total margin_pct row count: 300
Unrealistic margin errors :26

In [56]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     300 non-null    int64
 1   category       300 non-null    object
 2   cost_price     300 non-null    float64
 3   selling_price  300 non-null    float64
 4   margin_pct     300 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 11.8+ KB

In [57]:
#create analysis_df to undestand basic money fields in dataset

df_analysis = df_items.merge(df_orders, on="order_id", how="left").merge(df_products.drop(columns=['selling_price', 'margin_pct']), on="product_id", how="left")
df_analysis["product_revenue"] = df_analysis["item_price"] * df_analysis["quantity"]
df_analysis["product_cost"] = df_analysis["cost_price"] * df_analysis["quantity"]
df_analysis["base_margin"] = df_analysis["product_revenue"] - df_analysis["product_cost"]
df_analysis["base_margin_pct"] = df_analysis["base_margin"] / df_analysis["product_revenue"]
df_analysis.loc[df_analysis["product_revenue"] == 0, "base_margin_pct"] = 0
df_analysis["shipping_fee_allocated"] = df_analysis["shipping_fee"] / df_analysis.groupby("order_id")["order_id"].transform("count")
df_analysis["discount_pct"] =  df_analysis["discount_amount"] / df_analysis["product_revenue"]
df_analysis.loc[df_analysis["product_revenue"] == 0, "discount_pct"] = 0
df_analysis["final_margin"] = df_analysis["product_revenue"] - df_analysis["product_cost"] - df_analysis["discount_amount"] - df_analysis["shipping_fee_allocated"]


df_analysis["final_margin_pct"] = df_analysis["final_margin"] / df_analysis["product_revenue"]
df_analysis.loc[df_analysis["product_revenue"] == 0, "final_margin_pct"] = 0
df_analysis["margin_flag"] = "Healthy"
df_analysis.loc[df_analysis["final_margin_pct"] <= 0.10, "margin_flag"] = "Low Margin"
df_analysis.loc[df_analysis["final_margin_pct"] < 0, "margin_flag"] = "Negative Margin"

#Loss driver important Part

# --- RESET & INITIALIZE ---
df_analysis["loss_driver"] = "Normal"

# --- HIERARCHICAL LOSS DRIVER ASSIGNMENT ---

# 1. Return always wins
df_analysis.loc[
    (df_analysis["final_margin"] < 0) &
    (df_analysis["order_status"] == "Returned"),
    "loss_driver"
] = "Return-Driven"

# 2. Pricing / Cost Issue (product already unprofitable)
df_analysis.loc[
    (df_analysis["final_margin"] < 0) &
    (df_analysis["loss_driver"] == "Normal") &
    (df_analysis["base_margin"] < 0),
    "loss_driver"
] = "Pricing / Cost Issue"

# 3. Shipping-Driven (shipping dominates discount)
df_analysis.loc[
    (df_analysis["final_margin"] < 0) &
    (df_analysis["loss_driver"] == "Normal") &
    (df_analysis["shipping_fee_allocated"] > df_analysis["discount_amount"]),
    "loss_driver"
] = "Shipping-Driven"

# 4. Discount-Driven (only if still unexplained)
df_analysis.loc[
    (df_analysis["final_margin"] < 0) &
    (df_analysis["loss_driver"] == "Normal") &
    (df_analysis["discount_pct"] > 0.30),
    "loss_driver"
] = "Discount-Driven"

# 5. Explicit fallback: multi-factor loss
df_analysis.loc[
    (df_analysis["final_margin"] < 0) &
    (df_analysis["loss_driver"] == "Normal"),
    "loss_driver"
] = "Multi-Factor Loss"

In [58]:
#fixing the data type 

df_analysis["loss_driver"] = df_analysis["loss_driver"].astype(str)

In [59]:
#replacing any empty/invalid values explicitly

df_analysis["loss_driver"] = df_analysis["loss_driver"].replace(
    ["", "None", "nan", "NaN", "NULL"], 
    "Multi-Factor Loss"
)

In [60]:
df_analysis["loss_driver"].value_counts(dropna=False)

loss_driver
Normal                  55925
Pricing / Cost Issue    15380
Multi-Factor Loss        2159
Return-Driven            1781
Discount-Driven           749
Shipping-Driven           160
Name: count, dtype: int64

In [61]:
df_ab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experiment_name  22000 non-null  object
 1   variant          22000 non-null  object
 2   customer_id      22000 non-null  int64
 3   conversion       22000 non-null  int64
 4   order_value      22000 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 859.5+ KB

In [62]:
df_ab.to_csv("ab.csv", index = False)

In [63]:
df_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76154 entries, 0 to 76153
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_item_id           76154 non-null  int64
 1   order_id                76154 non-null  int64
 2   product_id              76154 non-null  int64
 3   quantity                76154 non-null  int64
 4   item_price              76154 non-null  float64
 5   customer_id             76154 non-null  int64
 6   order_date              76154 non-null  datetime64[ns]
 7   order_status            76154 non-null  object
 8   discount_amount         76154 non-null  float64
 9   shipping_fee            76154 non-null  float64
 10  category                76154 non-null  object
 11  cost_price              76154 non-null  float64
 12  product_revenue         76154 non-null  float64
 13  product_cost            76154 non-null  float64
 14  base_margin             76154 non-null  float64
 15  base_margin_pct         76154 non-null  float64
 16  shipping_fee_allocated  76154 non-null  float64
 17  discount_pct            76154 non-null  float64
 18  final_margin            76154 non-null  float64
 19  final_margin_pct        76154 non-null  float64
 20  margin_flag             76154 non-null  object
 21  loss_driver             76154 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(5), object(4)
memory usage: 12.8+ MB

In [64]:
# Finding if df_analysis has duplicates values

dup_df = (
    df_analysis
    .groupby(['order_id', 'product_id'])
    .size()
    .reset_index(name='row_count')
    .query('row_count > 1')
)

dup_df.value_counts()

order_id  product_id  row_count
423       51          2            1
478       110         2            1
689       270         2            1
752       100         2            1
831       89          2            1
                                  ..
37153     72          2            1
37188     245         2            1
37680     148         2            1
37768     68          2            1
37932     292         2            1
Name: count, Length: 172, dtype: int64

In [67]:
# Removing this duplicates

clean_analysis = (
    df_analysis
    .groupby(['order_id', 'product_id'], as_index=False)
    .agg(
        customer_id=('customer_id', 'first'),
        quantity=('quantity', 'sum'),
        cost_price=('cost_price', 'max'),
        item_price=('item_price', 'max'),
        discount_amount=('discount_amount', 'max'),
        discount_pct=('discount_pct', 'max'),
        shipping_fee=('shipping_fee', 'sum'),
        shipping_fee_allocated=('shipping_fee_allocated', 'sum'),
        product_revenue=('product_revenue', 'sum'),
        product_cost=('product_cost', 'sum'),
        base_margin=('base_margin', 'sum'),
        base_margin_pct=('base_margin_pct', 'max'),
        final_margin=('final_margin', 'sum'),
        final_margin_pct=('final_margin_pct', 'max'),
        order_date=('order_date', 'first'),
        order_status=('order_status', 'first'),
        category=('category', 'first'),
        margin_flag=('margin_flag', 'first'),
        loss_driver=('loss_driver', 'first')
    )
)

In [68]:
clean_analysis.duplicated(['order_id', 'product_id']).sum()

np.int64(0)

In [69]:
df_analysis[['quantity', 'product_revenue', 'product_cost']].sum(), \
clean_analysis[['quantity', 'product_revenue', 'product_cost']].sum()

(quantity           1.520100e+05
 product_revenue    4.815032e+08
 product_cost       2.422602e+08
 dtype: float64,
 quantity           1.520100e+05
 product_revenue    4.815032e+08
 product_cost       2.422602e+08
 dtype: float64)

In [70]:
clean_analysis.to_csv("clean_analysis.csv", index=False)